
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: #171614;
}

code {
  font-family: 'Roboto', sans-serif;
}
.App {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 25vh;
}
.container {
  display: grid; 
  
  background-color: #171614;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  min-height: 50vh;
  max-height: 50vh;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  height: 100%;
}

.container button {
  word-wrap: break-word;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.1s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;
}

.container button:active {
  border: solid rgb(175, 172, 172);
}

@media (hover:hover) {
  .container button:hover {
    filter: brightness(1.2);
  }
}

.top-display {
  word-wrap: break-word;
  color: #36B9B9;
  font-size: 24px;
  padding: 1px 10px 1px 10px;
}

.bottom-display {
  word-wrap: break-word;
  color: white;
  padding: 1px 10px 1px 10px;
}

#display {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 5;

  border-radius: 10px;
  background-color: #3e3e3e;
}

#clear {
  background-color: #b93636;
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 2;
  
}
#delete {
  background-color: #b93636;
  grid-row-start: 2;
  grid-column-start: 2;

  grid-row-end: 3;
  grid-column-end: 3;
}
#divide {

  background-color: #36B9B9; 
  grid-row-start: 2;
  grid-column-start: 3;

  grid-row-end: 3;
  grid-column-end: 4;
  
}
#multiply {

  background-color: #36B9B9; 
  grid-row-start: 2;
  grid-column-start: 4;

  grid-row-end: 3;
  grid-column-end: 5;
  
}
#substract {

  background-color: #36B9B9; 
  grid-row-start: 3;
  grid-column-start: 4;

  grid-row-end: 4;
  grid-column-end: 5;
  
}
#add {

  background-color: #36B9B9; 
  grid-row-start: 4;
  grid-column-start: 4;

  grid-row-end: 5;
  grid-column-end: 5;
  
}
#equals {

  background-color: #36B9B9; 
  grid-row-start: 5;
  grid-column-start: 4;

  grid-row-end: 7;
  grid-column-end: 5;
  
}
#seven {

  background-color: #3e3e3e; 
  grid-row-start: 3;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 2;
  
}
#eight {

  background-color: #3e3e3e; 
  grid-row-start: 3;
  grid-column-start: 2;

  grid-row-end: 4;
  grid-column-end: 3;
  
}
#nine {

  background-color: #3e3e3e; 
  grid-row-start: 3;
  grid-column-start: 3;

  grid-row-end: 4;
  grid-column-end: 4;
  
}
#zero {

  background-color: #3e3e3e; 
  grid-row-start: 6;
  grid-column-start: 1;

  grid-row-end: 7;
  grid-column-end: 3;
  
}
#four {

  background-color: #3e3e3e; 
  grid-row-start: 4;
  grid-column-start: 1;

  grid-row-end: 5;
  grid-column-end: 2;
  
}
#five {

  background-color: #3e3e3e; 
  grid-row-start: 4;
  grid-column-start: 2;

  grid-row-end: 5;
  grid-column-end: 3;
  
}
#six {

  background-color: #3e3e3e; 
  grid-row-start: 4;
  grid-column-start: 3;

  grid-row-end: 5;
  grid-column-end: 4;
  
}
#one {

  background-color: #3e3e3e; 
  grid-row-start: 5;
  grid-column-start: 1;

  grid-row-end: 6;
  grid-column-end: 2;
  
}
#two {

  background-color: #3e3e3e; 
  grid-row-start: 5;
  grid-column-start: 2;

  grid-row-end: 6;
  grid-column-end: 3;
  
}
#three {

  background-color: #3e3e3e; 
  grid-row-start: 5;
  grid-column-start: 3;

  grid-row-end: 6;
  grid-column-end: 4;
  
}
#decimal {

  background-color: #3e3e3e; 
  grid-row-start: 6;
  grid-column-start: 3;

  grid-row-end: 7;
  grid-column-end: 4;
  
}
